<div #dropdown class="ms-Dropdown" tabindex="0">
  <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--ChevronDown"></i>
  <select
          (change)="onChange($event)"
          class="ms-Dropdown-select">
    <option disabled>Choose a requirement &amp;hellip;</option>
    <option *ngFor="let requirement of requirements" [value]="requirement">{{ requirement.name }}</option>
    <option>Create new requirement</option>
  </select>
</div>

<select
        #requirement
        (change)="onChange($event, requirement.value)">
  <option
          *ngFor="let requirement of requirements"
          [value]="requirement._id">{{ requirement.name }}</option>
</select>
