<div class="row" *ngIf="this.storeService.requirements$ | async as requirements else loading">

  <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Choose a requirement</h3>

  <div *ngFor="let requirement of requirements"
       class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <a [routerLink]="['/requirements/', requirement._id]"
       class="card clickable">
      <div class="card-block">
        <h3 class="card-title">{{ requirement.name }}</h3>
        <p class="card-text">
          {{ requirement.description }}
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link">Select Requirement</a>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <a [routerLink]="['/requirements/new/']"
       class="card clickable">
      <div class="card-block">
        <h3 class="card-title">Create new Requirement</h3>
        <p class="card-text">
          Create a new requirement and submit the necessary data
        </p>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link">Select Requirement</a>
      </div>
    </a>
  </div>
</div>

<ng-template #loading>
  <div style="margin: 30px 0px;">
    <span class="spinner spinner-inline">
      Loading...
    </span>
    <span>
      Loading...
    </span>
  </div>
</ng-template>
