<clr-dropdown>
  <button type="button" class="dropdown-toggle btn btn-primary" clrDropdownTrigger>
    Requirements
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu clrPosition="bottom-left">
    <h4 class="dropdown-header">Choose a requirement</h4>
    <button *ngFor="let requirement of this.storeService.requirements$ | async"
            [routerLink]="['/requirements/', requirement._id]"
            type="button"
            clrDropdownItem>
      {{ requirement.name }}
    </button>
    <button [routerLink]="['/requirements/new/']"
            type="button"
            clrDropdownItem>
      Create new requirement
    </button>
  </clr-dropdown-menu>
</clr-dropdown>

<div class="clr-row" style="padding: 20px 10px;">
  <label>Choose a requirement</label>
</div>


