<div class="login-wrapper">
  <form (ngSubmit)="onSignin(f)" #f="ngForm" class="login">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      Version Control
      <h5 class="hint">Use your Company ID to sign in or create one now</h5>
    </section>
    <div class="login-group">
      <input ngModel class="username" type="text" id="email" name="email" placeholder="Mail ...">
      <input ngModel class="password" type="password" id="password" name="password" placeholder="Password ...">
      <div class="checkbox">
        <input type="checkbox" id="rememberme">
        <label for="rememberme">
          Remember me
        </label>
      </div>
      <div class="error" #loginError>
        Invalid mail or password
      </div>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
  </form>
</div>
