<div *ngIf="selectedRequirement else loading" class="row">
  <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{ selectedRequirement.name }}</h3>
        <p class="card-text">
          {{ selectedRequirement.description }}
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div style="margin: 30px 0px;">
    <span class="spinner spinner-inline">
      Loading...
    </span>
    <span>
      Loading...
    </span>
  </div>
</ng-template>
