<clr-dropdown>
  <button type="button" class="dropdown-toggle btn btn-primary" clrDropdownTrigger>
    Requirements
    <clr-icon shape="caret down"></clr-icon>
  </button>
  <clr-dropdown-menu clrPosition="bottom-left">
    <h4 class="dropdown-header">Choose a requirement</h4>
    <button
        *ngFor="let requirement of requirements"
        [value]="requirement._id"
        (click)="onSelected($event)"
        type="button"
        clrDropdownItem >{{ requirement.name }}</button>
    <button type="button" clrDropdownItem>Create new requirement</button>
  </clr-dropdown-menu>
</clr-dropdown>
