<div class="clr-row">
  <div class="clr-col-12">
    <app-requirement-dropdown></app-requirement-dropdown>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <div *ngIf="selectedRequirement && selectedRequirement.name">
      <label>Selected Requirement: {{ selectedRequirement.name }}</label>
    </div>
  </div>
</div>

<app-xml></app-xml>

<hr />

<app-template-list></app-template-list>



<div class="clr-row" *ngIf="selectedRequirement">
  <label>Type your Requirement in here:</label>
  <br />
</div>

<div #requirementContainer style="display:inline;"></div>

<ng-template [ngIf]="selectedRequirement">
  <div class="clr-row">
    <button (click)="onRequirementChanged()" class="btn btn-primary">Validate Requirement</button>
  </div>

  <clr-alert *ngIf="!requirementTemplateIsValid" [clrAlertType]="'alert-warning'" [clrAlertClosable]="false">
    <div class="alert-item">
      <span class="alert-text">
        Requirement is not valid!
      </span>
    </div>
  </clr-alert>

  <div class="clr-row" *ngIf="this.storeService.requirementTemplatePartsModified$ | async">
    <button (click)="onSaveRequirement()" class="btn btn-primary">Save Requirement</button>
  </div>

  <hr />

  <div class="clr-row">
    <button [routerLink]="['/requirements', selectedRequirement._id]" class="btn btn-primary">Requirement Details</button>
  </div>

</ng-template>
