<div class="clr-row">
  <div class="clr-col-12">
    <app-requirement-dropdown [requirements]="requirements" (requirementSelected)="onSelectedRequirement($event)"></app-requirement-dropdown>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-12">
    <div *ngIf="selectedRequirement && selectedRequirement.name">
      <label>Selected Requirement: {{ selectedRequirement.name }}</label>
    </div>
  </div>
</div>

<!--<app-xml-debug></app-xml-debug>-->

<hr />

<label>Type your Requirement in here:</label>
<br />
<div #requirementContainer id="1234TEST90df" style="display:inline;">
  <br />
  <select>
    <option>Der</option>
    <option>Die</option>
    <option>Das</option>
  </select>
  <input class="requirement-part" id="1234TEST90df_system" type="text" placeholder="Systemname">
</div>

<div class="clr-row">
  <button (click)="onRequirementChanged()" class="btn btn-primary">Validate Requirement</button>
</div>


<clr-alert *ngIf="!requirementTemplateIsValid" [clrAlertType]="'alert-warning'">
  <div class="alert-item">
    <span class="alert-text">
      Requirement is not valid!
    </span>
  </div>
</clr-alert>
